<div class="md-copyright">
    <div class="md-copyright__highlight">
        Kirill Solovei &copy; 2023–<script>document.write(new Date().getFullYear());</script> | Unless noted, content is under <a
            href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>, and code under MIT.<br />
        Page views: <span id="counter">⌛</span> | <a href="https://buymeacoffee.com/hatedabamboo" target="_blank"
            rel="noopener">
            Buy me a coffee 🍺
        </a>
    </div>
</div>
