---
title: Notes
layout: layouts/base.njk
pagination:
  data: collections.posts
  size: 10
  alias: posts
permalink: "{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

{% if pagination.pageNumber == 0 and collections.pinnedPosts.length > 0 %}
  <div class="pinned-posts">
    {% for post in collections.pinnedPosts %}
      <div class="pinned-post">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"><path d="M160 96C160 78.3 174.3 64 192 64L448 64C465.7 64 480 78.3 480 96C480 113.7 465.7 128 448 128L418.5 128L428.8
          262.1C465.9 283.3 494.6 318.5 507 361.8L510.8 375.2C513.6 384.9 511.6 395.2 505.6 403.3C499.6 411.4 490 416 480 416L160
          416C150 416 140.5 411.3 134.5 403.3C128.5 395.3 126.5 384.9 129.3 375.2L133 361.8C145.4 318.5 174 283.3 211.2 262.1L221.5
          128L192 128C174.3 128 160 113.7 160 96zM288 464L352 464L352 576C352 593.7 337.7 608 320 608C302.3 608 288 593.7 288
          576L288 464z"/> </svg>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
        {{ post.data.pinnedComment }}
      </div>
    {% endfor %}
  </div>
{% endif %}
<div class="post-list">
  {% for post in posts %}
    <article class="post-item{% if post.data.featured %} featured{% endif %}">
      <h2>
        <a href="{{ post.url }}">{{ post.data.title }}</a>
      </h2>
      <div class="post-meta-inline">
        <time datetime="{{ post.date | toIsoString }}">{{ post.date | postDate }}</time>
        {% if post.data.tags %}
          •
          {% for tag in post.data.tags | sort %}
            <a href="/tags/#tag:{{ tag | slug }}">#{{ tag }}</a>
            {% if not loop.last %}{% endif %}
          {% endfor %}
        {% endif %}
      </div>
      <div class="post-excerpt">
        {{ post | excerpt | safe }}
        <p>
          <a href="{{ post.url }}" class="continue-reading">Continue reading →</a>
        </p>
      </div>
    </article>
  {% endfor %}
</div>
{% if pagination.href.previous or pagination.href.next %}
  <nav class="post-nav" aria-label="Page navigation">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}" class="post-nav-link post-nav-link--prev" aria-label="Previous page">
        <div class="post-nav-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
            <path
              fill="currentColor"
              d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3
                256l137.3-137.4c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z"></path>
          </svg>
        </div>
        <div class="post-nav-title">
          <span class="post-nav-direction">Previous</span>
          <div class="post-nav-text">Page {{ pagination.pageNumber }}</div>
        </div>
      </a>
    {% endif %}
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}" class="post-nav-link post-nav-link--next" aria-label="Next page">
        <div class="post-nav-title">
          <span class="post-nav-direction">Next</span>
          <div class="post-nav-text">Page {{ pagination.pageNumber + 2 }}</div>
        </div>
        <div class="post-nav-button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
            <path
              fill="currentColor"
              d="M247.1 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L179.2 256 41.9
                118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"></path>
          </svg>
        </div>
      </a>
    {% endif %}
  </nav>
{% endif %}