<style>
  .root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    padding: 60px;
    border-left: 12px solid #0091eb;
  }
  .header {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .favicon {
    width: 48px;
    height: 48px;
  }
  .site-name {
    color: black;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
  }
  .title {
    color: black;
    font-size: 72px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0;
  }
</style>
<div class="root">
  <div class="header">
    <img class="favicon" src="https://notes.hatedabamboo.me/assets/favicon.png" alt="favicon"/>
    <h4 class="site-name">{{ name }}</h4>
  </div>
  <h2 class="title">{{ title | safe }}</h2>
</div>