<script>
  window.onscroll = function() {
      var scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
      var scrollHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      var progress = (scrollTop / scrollHeight) * 100;
      document.getElementById("progress-bar").style.width = progress + "%";
  };
</script>
<script src="/assets/js/views.js"></script>